{{ template "base" . }}

{{ define "content" }}

<div class="container">
    <div class="row">
        <div class="col">

            <h1>About</h1>

            <p> This came from the Template: {{index .StringMap "test"}}</p>
            <h3> <a href="./">Go To HOME Page</a> </h3>

            <p>
                {{if ne (index.StringMap "remote_ip") ""}}
                Your ip = {{index .StringMap "remote_ip"}}
                {{else}}
                i don have yet IP
                {{end}}
            </p>

        </div>
    </div>
</div>

{{end}}
