{{ template "base" . }}
{{ define "content" }}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Home</h1>
            <p>this is pa</p>
            <p>this is p222a</p>

            <p>

            </p>

            <h3> <a href="./about">Go To ABOUT Page</a> </h3>
        </div>
    </div>
</div>

{{ end }}
